<footer
  class="relative overflow-hidden
  bg-[linear-gradient(to_bottom,_var(--color-primary-900)_0%,_var(--color-primary-800)_100%)]
  py-[clamp(2.5rem,6vw,4rem)]
  px-[clamp(1.5rem,8vw,8rem)]
  lg:px-[clamp(1.5rem,9vw,8rem)]"
>
  <span
    class="hidden md:block absolute right-[3%] top-[50%] -translate-y-1/2
    text-[clamp(140px,16vw,270px)]
    font-urbanist italic
    text-accent-700/20
    pointer-events-none select-none"
  >
    2026
  </span>

  <div
    class="relative z-10
    flex flex-col md:flex-row
    items-center md:items-center
    justify-between
    gap-10 md:gap-12"
  >
    <div
      class="flex flex-col sm:flex-row
      items-center justify-center md:justify-start
      gap-6 sm:gap-10
      text-center sm:text-left"
    >
      <img
        src="/images/logo.svg"
        alt="Logo"
        class="w-[80px] sm:w-[90px] md:w-[100px]"
      />

      <div class="font-urbanist text-accent-500 leading-tight">
        <p
          class="text-[clamp(18px,2vw,30px)]
          font-semibold italic
          [text-shadow:2px_2px_2px_rgba(201,169,110,0.3)]"
        >
          ARQ. JESÚS
        </p>

        <p
          class="text-[clamp(18px,2vw,30px)]
          font-semibold italic
          [text-shadow:2px_2px_2px_rgba(201,169,110,0.3)]"
        >
          MENDOZA
        </p>
      </div>
    </div>
    <div class="hidden md:block w-[1px] h-28 bg-accent-500"></div>
    <div class="hidden md:flex flex-col
      items-start gap-4 text-left">
      <nav
        class="flex flex-wrap
        justify-start
        gap-6 md:gap-14
        text-accent-500
        font-nunito
        text-[clamp(12px,1.5vw,16px)]"
      >
        <a href="#" class="hover:text-primary-100 transition">Inicio</a>
        <a href="#" class="hover:text-primary-100 transition">Proyectos</a>
        <a href="#" class="hover:text-primary-100 transition">Sobre mi</a>
        <a href="#" class="hover:text-primary-100 transition">Servicios</a>
        <a href="#" class="hover:text-primary-100 transition"
          >Para estudiantes</a
        >
        <a href="#" class="hover:text-primary-100 transition">Renders 3D</a>
        <a href="#" class="hover:text-primary-100 transition">Contacto</a>
      </nav>

      <p
        class="text-accent-700
        text-[clamp(11px,1.2vw,13px)]
        font-nunito italic"
      >
        © 2026 Arq. Jesús Mendoza - Arquitecto en la Ciudad de Potosí
      </p>
    </div>
  </div>
</footer>
