<footer
  class="relative overflow-hidden
  bg-[linear-gradient(to_bottom,_var(--color-primary-900)_0%,_var(--color-primary-500)_100%)]
  py-[clamp(2.5rem,6vw,4rem)]
  px-[clamp(3rem,5vw,6rem)]"
>
  <span
    class="hidden md:block absolute right-[3%] top-[50%] -translate-y-1/2
    text-[clamp(140px,16vw,270px)]
    font-urbanist italic
    text-accent-700
    opacity-10
    pointer-events-none select-none"
  >
    2026
  </span>

  <div
    class="relative z-10
    flex flex-col md:flex-row
    items-center md:items-center
    justify-between
    gap-10 md:gap-8"
  >
    <div
      class="flex min-w-fit
      items-center justify-center md:justify-start
      lg:gap-8 gap-10
      text-center sm:text-left"
    >
      <img
        src="/images/logo.svg"
        alt="Logo"
        class="w-[80px] md:w-[100px]"
      />

      <div class="flex flex-row lg:flex-col gap-1 font-urbanist text-accent-500 leading-tight">
        <p
          class="min-w-fit text-[clamp(18px,2vw,30px)]
          font-semibold italic
          [text-shadow:2px_2px_2px_rgba(201,169,110,0.3)]"
        >
          ARQ. JESÚS
        </p>

        <p
          class="text-[clamp(18px,2vw,30px)]
          font-semibold italic
          [text-shadow:2px_2px_2px_rgba(201,169,110,0.3)]"
        >
          MENDOZA
        </p>
      </div>
    </div>
    <div class="hidden md:block w-[1px] h-28 bg-accent-500"></div>
    <div class="w-full flex flex-col
      items-start gap-4 text-left  px-8">
      <nav
        class="w-full flex flex-wrap
        justify-center
        lg:justify-between
        gap-4
      text-accent-500
        font-nunito
        text-[clamp(12px,1.5vw,16px)]"
      >
        <a href="/" class="hover:text-primary-100 transition">Inicio</a>
        <a href="/#projects" class="hover:text-primary-100 transition"
          >Proyectos</a
        >
        <a href="/#about" class="hover:text-primary-100 transition">Sobre mi</a>
        <a href="/#services" class="hover:text-primary-100 transition"
          >Servicios</a
        >
        <a href="/#students" class="hover:text-primary-100 transition"
          >Estudiantes</a
        >
        <a href="/#renders" class="hover:text-primary-100 transition">Renders</a
        >
        <a href="/#contact" class="hover:text-primary-100 transition"
          >Contacto</a
        >
      </nav>

      <p
        class="text-accent-700
        text-[clamp(12px,1.2vw,15px)] w-full
        font-nunito italic text-center lg:text-left mt-4 lg:mt-2"
      >
        © 2026 Arq. Jesús Mendoza · Levantado línea a línea por <a href="https://www.threeverse.tecnologia.bo/"  target="_blank" class="hover:text-accent-500 underline decoration-dotted underline-offset-6 transition-all duration-300">THREEVERSE</a>
      </p>
    </div>
  </div>
</footer>
