---
import { HeroLineLeft } from "../assets/icons/LineHeroLeft";
import { HeroLineRight } from "../assets/icons/LineHeroRight";
---

<section
  class="relative h-screen overflow-hidden lg:overflow-visible
  bg-[radial-gradient(circle_at_center,_var(--color-primary-500)_0%,_var(--color-primary-800)_70%)]"
>
  <div
    class="absolute inset-0 pointer-events-none
    bg-[linear-gradient(rgba(255,255,255,0.03)_1px,transparent_1px),linear-gradient(90deg,rgba(255,255,255,0.03)_1px,transparent_1px)]
    bg-[size:24px_24px]
    sm:bg-[size:32px_32px]
    md:bg-[size:43.714285px_30.5px]"
  >
  </div>

  <div
    class="relative z-10 flex h-full items-center
    flex-col justify-center px-6 ml-0 text-center
    lg:flex-row lg:justify-end md:px-24 lg:ml-12.5"
  >
    <img
      src="/images/logo.svg"
      alt="Logo"
      class="block lg:hidden w-[50%] mx-auto mb-6 pointer-events-none select-none"
    />

    <div
      class="w-full max-w-full lg:max-w-[55%]
      text-primary-50
      text-center
      lg:text-right lg:mt-[45px] lg:mr-[10%]"
    >
      <h1
        class="font-urbanist font-light leading-tight tracking-wide
        text-[clamp(28px,8vw,42px)]
        md:text-[clamp(33px,5vw,90px)]"
      >
        Espacios que
        <span class="italic text-accent-500">trascienden</span>
      </h1>

      <p
        class="font-nunito mt-3 text-[16px] md:mt-1 md:text-[24px] text-primary-50"
      >
        Diseño residencial y comercial
      </p>

      <a
        href="https://wa.me/59171587412"
        target="_blank"
        rel="noopener noreferrer"
        class="mt-6 md:mt-10
    mb-4 md:mb-4
    inline-flex items-center justify-center gap-3
    w-full sm:w-fit
    px-2 py-3
    sm:px-6 sm:py-3
    md:px-5 md:py-3
    text-[14px]
    sm:text-[15px]
    md:text-[clamp(1.1rem,1.2vw,1.3rem)]
    font-nunito font-semibold uppercase
    bg-accent-500 text-accent-900
    rounded-2xl
    border-2 border-accent-700
    shadow
    transition-all duration-300 ease-out
    hover:bg-primary-50
    hover:shadow-[2px_8px_2px_rgba(0,0,0,0.5)]
    hover:scale-105
    active:scale-95"
      >
        Solicitar consulta gratuita
      </a>

      <p
        class="font-nunito italic text-primary-100
        text-[16px] mt-6
        md:text-[24px] md:mt-14"
      >
        Arq. Jesús Mendoza
      </p>
    </div>

    <img
      src="/images/hero-image.svg"
      alt="Arquitectura"
      class="hidden lg:block absolute left-[11%] top-[13%]
      w-[48%] h-auto pointer-events-none select-none"
    />
  </div>

  <div
    class="hidden lg:block absolute left-[5%] bottom-[-180px]
    w-24 pointer-events-none z-10"
  >
    <HeroLineLeft />
  </div>

  + <div
    class="hidden lg:block absolute right-[6%] bottom-[6%] w-24 pointer-events-none"
  >
    <HeroLineRight />
  </div>
</section>
