---
import ProjectSlider from "./ProjectSlider";
import { LineProjectRight } from "../assets/icons/LineProjectRight";
---

<section
  id="projects"
  class="bg-primary
  pt-[10%]
  pb-0
  lg:pt-[5%]
  lg:pb-0
  relative
  overflow-hidden
  flex flex-col justify-between"
>
  <div
    class="absolute inset-0 pointer-events-none z-0 hidden lg:block"
  >
    <div class="absolute right-[5%] bottom-[4%]">
      <LineProjectRight />
    </div>
    <img
      src="/images/project-image.svg"
      class="absolute right-10 top-10 max-w-[220px] opacity-70 right-[5%]"
    />
  </div>
  <div class="relative z-20 px-8 lg:px-[15%]">
    <div class="text-left max-w-[900px] mb-16">
      <p class="text-[clamp(1rem,1.2vw,1.3rem)] font-bold text-accent-700 uppercase tracking-wide">
        Portafolio
      </p>

      <h2
        class="font-urbanist text-[clamp(30px,6vw,56px)] text-primary-500 mt-2 leading-tight"
      >
        Proyectos
        <span class="italic font-bold text-accent-700"> destacados </span>
      </h2>
    </div>
  </div>
  <div class="relative w-full mt-[clamp(0.5rem,0.5vw,1rem)] overflow-hidden">
    <div class="w-full mx-auto px-0 md:px-6 lg:px-10">
      <ProjectSlider client:load />
    </div>
  </div>
  <div class="flex lg:hidden justify-center mt-[clamp(2rem,6vw,3rem)]">
    <img
      src="/images/project-image-center.svg"
      class="w-[80%] max-w-[380px] scale-[1.05]"
      alt=""
    />
  </div>
  <div class="hidden lg:flex justify-center mt-2 lg:translate-y-2 pointer-events-none">
    <img
      src="/images/project-image-center.svg"
      class="max-w-[300px] lg:max-w-[550px] w-full"
      alt=""
    />
  </div>
</section>
