---
import { ArrowStudentServiceIcon } from "../assets/icons/ArrowStudentService";

const { serviceNumber, title, description} = Astro.props;
---

<div class="flex flex-col align-center font-nunito max-w-[400px] max-h-[165px]">
  <div class="flex items-center justify-start gap-2">
    <span class="text-[48px] w-[58pxd] h-[65px] text-primary-300">{serviceNumber}</span>
    <h4 class="text-[24px] text-primary-300 min-w-[149px] h-[33px]">
      {title}
    </h4>
  </div>

  <div class="flex pl-6 gap-x-12 items-center">
     <div class="w-[27px] h-[48px]">
      <ArrowStudentServiceIcon size="size-15" />
    </div>
    <p class="text-primary-300 text-[18px]">
       {description}
    </p>
  </div>
</div>
